@media (min-width: 768px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        align-items: center;
        display: inline-block;
        padding: 0 20px;
        transition: 0.7s ease;
    }

    #menu {
        display: flex;
        position: static;
        flex-direction: row;
        padding: 0;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        font-size: 1rem;
    }

    .album {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .hamburger {
        display: none;
    }
}.nav-link:hover {
    color: #4357ee;
}